.dashboard{
    padding:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-top:30px;
}

.card{
    background:#fff;
    padding:25px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card h2{
    color:#2563eb;
    font-size:35px;
}

.card p{
    margin-top:10px;
    font-size:18px;
}