.register-container{

display:flex;

justify-content:center;

margin-top:40px;

}

.register-form{

width:400px;

display:flex;

flex-direction:column;

gap:15px;

padding:20px;

box-shadow:0 0 10px gray;

border-radius:10px;

}

.register-form input{

padding:10px;

font-size:16px;

}

.register-form button{

padding:10px;

background:green;

color:white;

border:none;

cursor:pointer;

font-size:16px;

}

.register-form button:hover{

background:darkgreen;

}