.navbar {
  background: #0d6efd;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 18px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: yellow;
}

.active {
  color: yellow;
  border-bottom: 2px solid yellow;
  padding-bottom: 3px;
}